.course-details-container {
  padding: 20px;
}
.course-details {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.course-img {
  width: 400px;
}
.info-container {
  padding: 20px;
  width: 500px;
}
.course-title {
  font-family: 'Roboto';
  font-size: 30px;
  color: #1e293b;
}

.course-description {
  font-family: 'Roboto';
  font-size: 18px;
  color: #475569;
}
